.small-margin-left {
    margin-left: 2px;
}
.small-margin-right {
    margin-right: 2px;
}
.small-margin-sides {
    margin-right: 2px;
    margin-left: 2px;
}

div.container {
    margin-top: 10vh;
}
