<mat-toolbar color="primary">
    Algorithm Path Visualizer
    <div class="flex-stretch"></div>
    <mat-icon>flare</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
    <mat-icon (click)="openSettingsModal()">settings</mat-icon>
</mat-toolbar>

<div class="mat-app-background content">
    <div class="overview-container">
        <app-graph-overview></app-graph-overview>
        <app-algorithm-overview></app-algorithm-overview>
        <app-algorithm-info></app-algorithm-info>
    </div>
</div>