.mat-dialog-actions {
    justify-content: flex-end;
}

h2 {
    padding-bottom: 20px;
}
.one-color-setting {
    label {
        width: 250px;
    }

    .color-input-field {
        width: 70px;
    }

    .color-box {
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
        display: block;
    }
}

.buttons-end {
    margin-top: 20px;
}
