.mat-dialog-actions {
    justify-content: flex-end;
}

h2 {
    padding-bottom: 20px;
}
.one-color-setting {
    label {
        display: inline-block;
        min-width: 250px;
        max-width: 250px;
    }

    .color-input-field {
        display: inline-block;
        max-width: 100px;
        min-width: 100px;
    }

    .color-box {
        display: inline-block;
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
    }
}

.buttons-end {
    padding-top: 20px;
}
